#test-scrollview .unity-scroller--vertical {
    align-self: center;
    background-color: rgb(253, 253, 253);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
}

#test-scrollview .unity-base-slider--vertical .unity-base-slider__dragger {
    background-color: rgb(243, 141, 77);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#test-scrollview .unity-repeat-button {
    display: none;
}

#test-scrollview .unity-base-slider--vertical {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
